
/* font style  */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



body{
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
   background-color: #F3F3F3;
}

/* shard style  */
.btn_primary{
    padding: 21px 25px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);

    font-size: 1.25rem;
    font-weight: 600;
}
main section{
    max-width: 1440px;
    margin: 0 auto;
   
}






/* header section style  */
header{
    background: rgba(255, 144, 14, 0.1);
}
/* nav bar style  */
nav{
    max-width: 1440px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.brand_new_section{
    max-width: 1440px;
    margin: 0 auto;}

nav h3{
    font-size: 2.8rem;
    font-weight: 700;
    color: rgb(19, 19, 19);
    margin: 13px;
}
ul{
    display: flex;
   gap: 98px;
    max-width: 477px;
   
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: rgb(66, 66, 66);
    
    font-weight: 500;
    
     
}
/* bannar section style  */
.brand_titel{
    max-width: 862px;
    margin: 0 auto;
     text-align: center;
}

   

.brand_titel h2{
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
}
.brand_titel p{
    color: rgb(114, 114, 114);
    margin-top: -37px;
    font-weight: 400;
}
/* bannar img style  */
.bannar_img img{
    width: 100%;
    margin-top: 35px;
}
/* features_section style  */
.features_section{
    display: flex;
    margin-top: 66PX;
}
.tem_meting{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.quick_list{
    max-width: 537px;
    margin-top: 126px;
    margin-left: 73px;
    
}
.features_section h4{
    font-size: 3rem;
    font-weight: 700;
}
#item1{
    color: rgb(114, 114, 114);
}
#item2{
    color: rgb(19, 19, 19)
}
#item3{
    color: rgb(255, 144, 14)
}
.quick_list P{
    color: rgb(114, 114, 114);
}
/* features_titel section  */
.love_enjoy{
    display: flex;
    gap: 164px;
}
.features_titel{
        margin-top: 175px;
}
.features_titel h3{
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
    max-width: 468px;
    border-left: 4px solid rgb(255, 144, 14);
    padding-left: 21px;
    
}
.features_titel p{
    max-width: 586px;
     color: rgb(114, 114, 114);;
}
.architect_img{
    margin-top: -275px;
}
.architect_img img{
    width: 100%;
}
.box_contanir h4{
    color: rgb(19, 19, 19);
    margin-top: 18px;
    font-size: 1.25rem;
    font-weight: 600;
}
.box_contanir p{
    color: rgb(114, 114, 114);
    margin-top: -12px;
}
.box_contanir{
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 16px;
    background-color: white;
    max-width: 586px;
}
.img_btn{
   
 
    position: relative;
    top: -132px;
    left: -97px;
}
 .first{
    font-size: 4rem;
    font-weight: 700px;
}
.second{
    font-size: 1.5rem;
    font-weight: 500;
}


/* mobile device style  */
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
    }
    ul{
        gap: 15px;
    }
    .features_section{
        flex-direction: column;
    }
    .tem_meting{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 27px;
       
    }
    .quick_list{
        margin-left: 22px;
        margin-top: 17px;
    }
    .love_enjoy{
        flex-direction: column;
       
    }
    .box_contanir{
        padding: 5px;
    }
    .architect_img{
       margin-top: -5px;
    }
    .features_titel{
        margin-top: 50px;
    }
   .img_btn{
        top: 0px;
        left: 50px;
    }
}


/* mediam device style  */
@media screen and (min-width:576px) and (max-width:992px) {
     nav {
        flex-direction: column;
    }
   
    .features_section{
        flex-direction: column;
    }
    .tem_meting{
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .bannar_img img{
        width: 100%;
    }
    
}