
/* font style  */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



body{
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shard style  */
.btn_primary{
    padding: 21px 25px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);

    font-size: 1.25rem;
    font-weight: 600;
}
main section{
    max-width: 1440px;
    margin: 0 auto;
}






/* header section style  */
header{
    background: rgba(255, 144, 14, 0.1);
}
/* nav bar style  */
nav{
    max-width: 1440px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.brand_new_section{
    max-width: 1440px;
    margin: 0 auto;}

nav h3{
    font-size: 2.8rem;
    font-weight: 700;
    color: rgb(19, 19, 19);
    margin: 13px;
}
ul{
    display: flex;
   gap: 98px;
    max-width: 477px;
   
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: rgb(66, 66, 66);
    
    font-weight: 500;
    
     
}
/* bannar section style  */
.brand_titel{
    max-width: 862px;
    margin: 0 auto;
     text-align: center;
}

   

.brand_titel h2{
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
}
.brand_titel p{
    color: rgb(114, 114, 114);
    margin-top: -37px;
    font-weight: 400;
}
/* bannar img style  */
.bannar_img img{
    width: 100%;
    margin-top: 35px;
}
/* features_section style  */
.features_section{
    display: flex;
    margin-top: 66PX;
}
.tem_meting{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.quick_list{
    max-width: 537px;
    margin-top: 126px;
    margin-left: 73px;
    
}
.features_section h4{
    font-size: 3rem;
    font-weight: 700;
}
#item1{
    color: rgb(114, 114, 114);
}
#item2{
    color: rgb(19, 19, 19)
}
#item3{
    color: rgb(255, 144, 14)
}
.quick_list P{
    color: rgb(114, 114, 114);
}





/* mobile device style  */
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
    }
    ul{
        gap: 15px;
    }
    .features_section{
        flex-direction: column;
    }
    .tem_meting{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 27px;
       
    }
    .quick_list{
        margin-left: 22px;
        margin-top: 17px;
    }
    
}